<div>
  <h4>Agregar Tasks</h4>

  <form>
    <div class="input-group">
      <input ng-model="tasksCtrl.descriptionTask" type="text" class="form-control"
             placeholder="Task description">

      <div class="input-group-btn">
        <button type="submit" class="btn btn-default" ng-click="tasksCtrl.agregarTask()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
  </form>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="task in tasksCtrl.tasks">
      <td>
        <a ui-sref="editarTask({id: task.id})">{{task.id}}</a>
      </td>
      <td>
        <a ui-sref="editarTask({id: task.id})">{{task.description}}</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
